.houseList{
  height: 100%;
  overflow-x: hidden;
}
.header{
  padding: 0 10px;
  height: 45px;
  background-color: #f6f5f6;

}
.header :global(.icon-back){
  font-size: 16px;
  color: #999;
}
.header :global(.icon-map){
  /* font-size: 16px; */
  color: #00ae66;
}
.navBar{
  position: relative;
  top: 0;
  padding: 0;
}
.loading {
  padding: 10px;
  box-sizing: border-box;
  line-height: 120px;
  text-align: center;
  width: 100%;
  height: 120px;
}
.loadingText{
  /* margin: 10px; */
  width: 100%;
  height: 100%;
  background-color: #f6f5f6;
}