html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
}
*{
  box-sizing: border-box;
  touch-action: pan-y;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
html, body, #root, .App {
  height: 100%;
}
ul{
  list-style: none;
}
.body-fixed {
  overflow: hidden;
}
a:link {
  color: #333;
}
a:visited {
  color: #333;
}
a:active {
  color: #333;
}